@model IEnumerable<DataAccess.Models.MainMenus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Menu_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @foreach (var val in item.feature)
            {
                <td>
                    @Html.DisplayFor(modelItem => val.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => val.Class)
                </td>
            }
        </tr>
    }

</table>
