@model IEnumerable<EHRMS.ViewModel.MenuVM>
<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
        <li class="active">
            <a class="" href="@Url.Action("Index", "Dashboard")">
                <i class="icon_house_alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        @foreach (var item in Model)
            {
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="@item.Class"></i>
                    <span>@item.Name</span>
                    @if (item.feature.Count() > 0)
                    {
                        <span id="arrowDown" class="menu-arrow arrow_carrot-right"></span>
                    }
                </a>
                @if (item.feature.Count() > 0)
                {
                    <ul class="sub">
                        @foreach (var items in item.feature)
                        {
                            <li><a class="" href="@Url.Action(items.Action, items.Controller)">@items.Name</a></li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
<script>
    function HideArrow() {
        $('#arrowDown').hide();
    }
</script>